@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

h1 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 200 !important;
  background-color: #e0f2fe !important;
  padding: 5.5rem 2rem !important;
  border-radius: 0.5rem !important;
  display: inline-block !important;
}