@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 { font-family: 'Roboto', sans-serif !important; 
    font-weight: 200 !important; 
    background-color: #e0f2fe !important; 
    display: block !important; 
    width: 100vw !important; 
    position: relative !important; 
    left: 50% !important; 
    right: 50% !important; 
    margin-left: -50vw !important; 
    margin-right: -50vw !important; 
    box-sizing: border-box !important; 
    padding-top: 5.5rem !important; 
    padding-bottom: 5.5rem !important; 
    padding-left: max(1.5rem, calc((100vw - 72rem) / 2)) !important; 
    padding-right: max(1.5rem, calc((100vw - 72rem) / 2)) !important; }